:root {
  font-family: sans-serif;
  font-weight: 400;
  font-synthesis: none;
}
a {
  /* font-weight: 500;
  color: #646cff; */
  text-decoration: inherit;
}
a:hover {
  filter: invert(0.3);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}




